---

---

<section class="w-full border">
  <!-- Must-Know INFO -->
  <div class="w-full">
    <div class="grid grid-cols-1 lg:grid-cols-4 min-h-[400px]">
      <!-- Left Column - Yellow Background -->
      <div
        class="bg-web5-yellow p-12 lg:p-16 flex items-center justify-center border-r lg:col-span-1"
      >
        <div class="text-web5-dark leading-tight">
          <div class="text-subheader1 text-semibold">WEB5</div>
          <div class="text-h3 text-semibold">
            MUST-<br />
            KNOW<br />
            INFO
          </div>
        </div>
      </div>

      <!-- Right Column - Beige Background -->
      <div class="p-12 lg:p-16 flex items-center lg:col-span-3">
        <p class="text-subheader1 font-semibold text-web5-dark leading-relaxed">
          Web5 is the mirror held to the space: expose the real cost of freedom,
          preserve the ease of convenience, and make the choice impossible to
          ignore.
        </p>
      </div>
    </div>
  </div>

  <!-- don't pretend the steak is real -->
  <div
    class="w-full bg-web5-purple flex flex-col justify-center items-center px-5 py-10 lg:py-16 gap-6"
  >
    <div>
      <img src="/images/red-or-blue.png" alt="" class="w-[900px]" />
    </div>
    <div class="text-subheader1 font-semibold text-white text-center">
      JUST DON’T PRETEND THE STEAK IS REAL
    </div>
  </div>
</section>
